# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/
*.egg-info/
dist/
build/

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Project
.pytest_cache
.coverage
htmlcov/
projet_big_data.pdf
.ipynb_checkpoints
